@media screen and (max-width: 376px) {
  .nav-top,
  .footer-bottom {
    padding-right: 25px;
    padding-left: 25px;
    font-size: 12px;
    height: 40px;
  }
  .nav-top .left img,
  .footer-bottom .left img {
    width: 20px;
    height: 20px;
  }
  .nav-top .left .arrow,
  .nav-top .left .text,
  .nav-top .left .ish,
  .footer-bottom .left .arrow,
  .footer-bottom .left .text,
  .footer-bottom .left .ish {
    display: none;
  }
  header {
    display: block;
  }
  header nav {
    padding-right: 25px;
    padding-left: 25px;
    height: 60px;
  }
  header nav .left h1 {
    display: none;
  }
  header nav .center {
    display: none;
  }
  header nav .right .toggle-theme img {
    width: 20px;
  }
  header nav .right .profile img {
    width: 20px;
  }
  header nav .right .uz {
    font-size: 12px;
  }
  header nav .right .gamburger {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header nav .right button {
    width: 33px;
    height: 33px;
  }
  header nav .right .ilova {
    display: none;
  }
  header .head-body {
    display: block;
    height: 85vh;
  }
  header .head-body .head-left {
    text-align: center;
    padding-right: 25px;
    padding-left: 25px;
    width: 100%;
    padding-top: 75px;
  }
  header .head-body .head-left h2 {
    font-size: 1rem;
  }
  header .head-body .head-left h1 {
    width: auto;
    font-size: 2.5rem;
    line-height: 50px;
  }
  header .head-body .head-left p {
    margin-top: 15px;
    width: auto;
    font-size: 12px;
  }
  header .head-body .head-left .btns {
    justify-content: center;
    font-size: 12px;
  }
  header .head-body .head-left .btns button {
    padding: 10px 16px;
  }
  header .head-body .head-right {
    display: none;
  }
  .why-forYou {
    margin-top: 60px;
    display: block;
  }
  .why-forYou .why {
    padding-right: 25px;
    padding-left: 25px;
  }
  .why-forYou .why .top .why-p {
    font-size: 1rem;
  }
  .why-forYou .why .top h1 {
    font-size: 2rem;
    line-height: 40px;
    margin-top: 5px 0 10px 0;
  }
  .why-forYou .why .top .why-ct {
    font-size: 12px;
  }
  .why-forYou .why .bottom {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    margin: 0;
    height: auto;
  }
  .why-forYou .why .bottom .bx {
    width: 100%;
    margin-top: 25px;
    gap: 10px;
  }
  .why-forYou .why .bottom .bx img {
    margin-bottom: 10px;
  }
  .why-forYou .why .bottom .bx h4 {
    font-size: 16px;
  }
  .why-forYou .why .bottom .bx p {
    font-size: 10px;
    line-height: 15px;
  }
  .why-forYou .forYou {
    padding: 0;
    padding-left: 25px;
    padding-right: 25px;
    display: block;
  }
  .why-forYou .forYou .top {
    width: 100%;
  }
  .why-forYou .forYou .top h2 {
    font-size: 1rem;
  }
  .why-forYou .forYou .top h1 {
    font-size: 2rem;
    line-height: 40px;
    margin: 5px 0 15px 0;
  }
  .why-forYou .forYou .top .yourHouse-p {
    font-size: 12px;
  }
  .why-forYou .forYou .bottom {
    flex-direction: column;
  }
  .why-forYou .forYou .bottom .card .title-p {
    font-size: 1rem;
  }
  .why-forYou .forYou .bottom .card .content-p {
    font-size: 12px;
    line-height: 18px;
  }
  .why-forYou .forYou .bottom .card button {
    font-size: 12px;
    padding: 10px 16px;
  }
  header nav .right .hidden {
    margin-left: 43px;
    margin-top: 115px;
    width: 33px;
  }
  header nav .right .hidden .ru,
  header nav .right .hidden .en {
    height: 33px;
  }
  header nav .right .hidden .ru {
    margin-bottom: 5px;
  }
  section {
    padding-right: 25px;
    padding-left: 25px;
  }
  section .our-app {
    display: flex;
    padding: 25px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
  }
  section .our-app .left {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  section .our-app .left h2 {
    color: var(--green);
    font-weight: 600;
    text-align: center;
    font-size: 1rem;
  }
  section .our-app .left h1 {
    color: var(--ink-color);
    font-weight: 700;
    width: 115%;
    font-size: 2rem;
  }
  section .our-app .left p {
    margin-top: 24px;
    width: 100%;
    color: var(--dark-white);
  }
  section .our-app .left .platforms {
    width: 115%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
  }
  section .our-app .left .platforms img {
    width: 130px;
  }
  section .our-app .left {
    text-align: center !important;
  }
  section .our-app .right {
    width: 40%;
    display: none;
  }
  section .our-app .right img {
    position: absolute;
    right: 17%;
    margin-top: -100px;
  }
  section .mijozlarNimaDeydi {
    display: block;
    margin-top: 200px;
  }
  section .mijozlarNimaDeydi .top p {
    color: var(--green);
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 44px;
  }
  section .mijozlarNimaDeydi .top h1 {
    color: var(--ink-color);
    text-align: center;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
  }
  section .mijozlarNimaDeydi .bottom {
    display: flex;
    justify-content: space-between;
    height: 700px;
    margin-top: 60px;
    flex-direction: column;
    overflow: hidden;
  }
  section .mijozlarNimaDeydi .bottom .qt {
    width: 100%;
    height: 40%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  section .mijozlarNimaDeydi .bottom .qt p {
    margin-top: 16px;
    color: var(--ink-color);
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
  }
  section .mijozlarNimaDeydi .bottom .qt .profile {
    margin-top: 24px;
  }
  section .mijozlarNimaDeydi .bottom .qt .profile p {
    color: var(--dark-white);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
  }
  section .hamkorlar {
    display: block;
  }
  section .hamkorlar .top p {
    font-size: 1rem;
  }
  section .hamkorlar .top h1 {
    font-size: 2.5rem;
  }
  section .hamkorlar .slide-bottom {
    display: flex;
    width: 114%;
    overflow: hidden;
    margin-left: -7%;
  }
  section .hamkorlar .slide-bottom .bottom {
    display: flex;
    align-items: center;
    height: 130px;
  }
  section .hamkorlar .slide-bottom .bottom .logo {
    width: 275px;
    height: 110;
    margin-left: 45.5px;
  }
  section .hamkorlar .slide-bottom .bottom .log1 {
    animation: log1 14s linear infinite;
  }
  @keyframes log1 {
    0% {
      margin-left: 46px;
    }
    10% {
      margin-left: 46px;
    }
    90% {
      margin-left: -167.5%;
    }
    100% {
      margin-left: -167.5%;
    }
  }
  footer {
    width: 100%;
    padding: 79px 0;
    display: flex;
  }
  footer .foot-container {
    padding: 48px 0;
  }
  footer .foot-container h2 {
    font-size: 1rem;
  }
  footer .foot-container h1 {
    font-size: 2rem;
  }
  footer .foot-container p {
    font-size: 12px;
  }
  .chat {
    right: 10px;
    bottom: 10px;
  }
  .contact-us .container,
  .login .container,
  .sign-up .container,
  .profile-edit .container {
    width: 370px;
  }
  .xizmatlar-2 {
    flex-direction: column;
    margin-top: 50px;
    padding: 0 25px;
    height: 100vh;
  }
  .xizmatlar-2 .b1 {
    width: 100%;
    display: flex;
    margin-top: 30%;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .xizmatlar-2 .b1 .menu-x {
    text-align: center;
    width: 100%;
  }
  .xizmatlar-2 .b1 .menu-w {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    flex-direction: column;
  }
  .xizmatlar-2 .b1 .menu-w .sizuchun {
    font-size: 1rem;
    margin-bottom: 30px;
  }
  .xizmatlar-2 .b1 .menu-w .siz-2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2rem;
  }
  .xizmatlar-2 .b1 .menu-w .siz-3 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 12px;
  }
  .xizmatlar-2 .b1 .menu-w .siz-btn {
    transform: translateY(250px);
  }
  .xizmatlar-2 .b2 {
    display: flex;
    width: 100%;
    justify-content: center;
    transform: translateY(-80px);
    align-items: center;
  }
  .xizmatlar-2 .b2 .video-youtube {
    width: 350px;
    height: 196px;
  }
}/*# sourceMappingURL=mobile.css.map */