@import "../style.css";
@media screen and (max-width: 376px) {
  .nav-top {
    padding-right: 25px;
    padding-left: 25px;
    font-size: 12px;
    height: 40px;
  }
  .nav-top .left img {
    width: 20px;
    height: 20px;
  }
  .nav-top .left .arrow,
  .nav-top .left .text,
  .nav-top .left .ish {
    display: none;
  }
  header {
    display: block;
  }
  header nav {
    padding-right: 25px;
    padding-left: 25px;
    height: 60px;
  }
  header nav .left h1 {
    display: none;
  }
  header nav .center {
    display: none;
  }
  header nav .right .gamburger {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header nav .right button {
    width: 33px;
    height: 33px;
  }
  header nav .right .ilova {
    display: none;
  }
  header .head-body {
    display: block;
    height: 85vh;
  }
  header .head-body .head-left {
    text-align: center;
    padding-right: 25px;
    padding-left: 25px;
    width: 100%;
    padding-top: 75px;
  }
  header .head-body .head-left h2 {
    font-size: 1rem;
  }
  header .head-body .head-left h1 {
    width: auto;
    font-size: 2.5rem;
    line-height: 50px;
  }
  header .head-body .head-left p {
    margin-top: 15px;
    width: auto;
    font-size: 12px;
  }
  header .head-body .head-left .btns {
    justify-content: center;
    font-size: 12px;
  }
  header .head-body .head-left .btns button {
    padding: 10px 16px;
  }
  header .head-body .head-right {
    display: none;
  }
  .why-forYou {
    margin-top: 60px;
  }
  .why-forYou .why {
    padding-right: 25px;
    padding-left: 25px;
  }
  .why-forYou .why .top .why-p {
    font-size: 1rem;
  }
  .why-forYou .why .top h1 {
    font-size: 2rem;
    line-height: 40px;
    margin-top: 5px 0 10px 0;
  }
  .why-forYou .why .top .why-ct {
    font-size: 12px;
  }
  .why-forYou .why .bottom {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    margin: 0;
    height: auto;
  }
  .why-forYou .why .bottom .bx {
    width: 100%;
    margin-top: 25px;
    gap: 10px;
  }
  .why-forYou .why .bottom .bx img {
    margin-bottom: 10px;
  }
  .why-forYou .why .bottom .bx h4 {
    font-size: 16px;
  }
  .why-forYou .why .bottom .bx p {
    font-size: 10px;
    line-height: 15px;
  }
  .why-forYou .forYou {
    padding: 0;
    padding-left: 25px;
    padding-right: 25px;
  }
  .why-forYou .forYou .top {
    width: 100%;
  }
  .why-forYou .forYou .top h2 {
    font-size: 1rem;
  }
  .why-forYou .forYou .top h1 {
    font-size: 2rem;
    line-height: 40px;
    margin: 5px 0 15px 0;
  }
  .why-forYou .forYou .top .yourHouse-p {
    font-size: 12px;
  }
  .why-forYou .forYou .bottom {
    flex-direction: column;
  }
  .why-forYou .forYou .bottom .card .title-p {
    font-size: 1rem;
  }
  .why-forYou .forYou .bottom .card .content-p {
    font-size: 12px;
    line-height: 18px;
  }
  .why-forYou .forYou .bottom .card button {
    font-size: 12px;
    padding: 10px 16px;
  }
  section {
    padding-right: 25px;
    padding-left: 25px;
  }
  section .our-app {
    display: flex;
    padding: 32px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  section .our-app .left {
    width: 100%;
    text-align: center !important;
  }
  section .our-app .left h2 {
    text-align: center;
  }
  .xizmatlar {
    padding-right: 25px;
    padding-left: 25px;
  }
  .xizmatlar .top h2 {
    font-size: 1rem;
  }
  .xizmatlar .top h1 {
    font-size: 2rem;
    line-height: 40px;
  }
  .xizmatlar .top p {
    width: 100%;
    font-size: 12px;
    margin-top: 20px;
  }
  .xizmatlar .center {
    flex-direction: column-reverse;
  }
  .xizmatlar .center .left {
    padding: 6px 0;
  }
  .xizmatlar .center .left select {
    width: 240px;
    height: 45px;
    border-radius: 12px;
    padding: 0 15px;
    display: block;
    background: var(--green);
    box-shadow: 0px 8px 32px 0px var(--green-shadow);
    color: var(--white-color);
    font-weight: 600;
    border: 1px solid var(--green);
    outline: none;
  }
  .xizmatlar .center .left ul {
    display: none;
  }
  .xizmatlar .center .right {
    padding: 6px 0;
    border: none;
  }
  .xizmatlar .xizmatlar-bottom {
    align-items: center;
    flex-direction: column;
  }
  .xizmatlar .xizmatlar-bottom div {
    display: block;
  }
  .xizmatlar .xizmatlar-bottom div a {
    padding: 10px 16px;
  }
}
@media screen and (max-width: 376px) {
  * {
    padding: 0;
  }
  .xizmatlar-2 {
    flex-direction: column;
    margin-top: 50px;
    padding: 0 25px;
    height: 100vh;
  }
  .xizmatlar-2 .b1 {
    width: 100%;
    display: flex;
    margin-top: 30%;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .xizmatlar-2 .b1 .menu-x {
    text-align: center;
    width: 100%;
  }
  .xizmatlar-2 .b1 .menu-w {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    flex-direction: column;
  }
  .xizmatlar-2 .b1 .menu-w .sizuchun {
    font-size: 1rem;
    margin-bottom: 30px;
  }
  .xizmatlar-2 .b1 .menu-w .siz-2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2rem;
  }
  .xizmatlar-2 .b1 .menu-w .siz-3 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 12px;
  }
  .xizmatlar-2 .b1 .menu-w .siz-btn {
    transform: translateY(250px);
  }
  .xizmatlar-2 .b2 {
    display: flex;
    width: 100%;
    justify-content: center;
    transform: translateY(-80px);
    align-items: center;
  }
  .xizmatlar-2 .b2 .video-youtube {
    width: 350px;
    height: 196px;
  }
}
section {
  padding-right: 25px;
  padding-left: 25px;
}
section .our-app {
  display: flex;
  padding: 32px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
section .our-app .left {
  width: 100%;
  text-align: center !important;
}
section .our-app .left h2 {
  text-align: center;
}/*# sourceMappingURL=mobile.css.map */