@media screen and (max-width:376px) {

    // nav top 375px
    .nav-top,
    .footer-bottom {
        padding-right: 25px;
        padding-left: 25px;
        font-size: 12px;
        height: 40px;

        .left {
            img {
                width: 20px;
                height: 20px;
            }

            .arrow,
            .text,
            .ish {
                display: none;
            }
        }

    }

    header {
        display: block;

        nav {
            padding-right: 25px;
            padding-left: 25px;
            height: 60px;

            .left {
                h1 {
                    display: none;
                }
            }

            .center {
                display: none;
            }

            .right {
                .toggle-theme {
                    img {
                        width: 20px;

                    }
                }

                .profile {
                    img {
                        width: 20px;
                    }
                }

                .uz {
                    font-size: 12px;
                }

                .gamburger {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                button {
                    width: 33px;
                    height: 33px;
                }

                .ilova {
                    display: none;
                }
            }
        }

        .head-body {
            display: block;
            height: 85vh;

            .head-left {
                text-align: center;
                padding-right: 25px;
                padding-left: 25px;
                width: 100%;
                padding-top: 75px;

                h2 {
                    font-size: 1rem;
                }

                h1 {
                    width: auto;
                    font-size: 2.5rem;
                    line-height: 50px;
                }

                p {
                    margin-top: 15px;
                    width: auto;
                    font-size: 12px;
                }

                .btns {
                    justify-content: center;
                    font-size: 12px;

                    button {
                        padding: 10px 16px;
                    }
                }
            }

            .head-right {
                display: none;
            }
        }
    }

    // why for you styles 375
    .why-forYou {
        margin-top: 60px;
        display: block;
        // section why us 375

        .why {
            padding-right: 25px;
            padding-left: 25px;

            .top {
                .why-p {
                    font-size: 1rem;
                }

                h1 {
                    font-size: 2rem;
                    line-height: 40px;
                    margin-top: 5px 0 10px 0;
                }

                .why-ct {
                    font-size: 12px;

                }
            }

            .bottom {
                padding: 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                height: auto;
                margin: 0;
                height: auto;

                .bx {
                    width: 100%;
                    margin-top: 25px;
                    gap: 10px;

                    img {
                        margin-bottom: 10px;
                    }

                    h4 {
                        font-size: 16px;
                    }

                    p {
                        font-size: 10px;
                        line-height: 15px;
                    }
                }
            }
        }

        // Section "what we can offer you" 375

        .forYou {
            padding: 0;
            padding-left: 25px;
            padding-right: 25px;
            display: block;

            .top {
                width: 100%;

                h2 {
                    font-size: 1rem;
                }

                h1 {
                    font-size: 2rem;
                    line-height: 40px;
                    margin: 5px 0 15px 0;
                }

                .yourHouse-p {
                    font-size: 12px;

                }
            }

            .bottom {
                flex-direction: column;

                .card {
                    .title-p {
                        font-size: 1rem;
                    }

                    .content-p {
                        font-size: 12px;
                        line-height: 18px;
                    }

                    button {
                        font-size: 12px;
                        padding: 10px 16px;
                    }
                }
            }
        }
    }

    header{
        nav{
            .right{
                .hidden {
                    margin-left: 43px;
                    margin-top: 115px;
                    width: 33px;
                    .ru,
                    .en {
                        
                        height: 33px;
                    }
            
                    .ru {
                        margin-bottom: 5px;
                    }
                }
            }
        }
    }

    // our app styles

    section {
        padding-right: 25px;
        padding-left: 25px;

        .our-app {
            display: flex;
            padding: 25px;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            overflow: hidden;

            .left {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;

                h2 {
                    color: var(--green);
                    font-weight: 600;
                    // line-height: 44px;
                    text-align: center;
                    font-size: 1rem;
                }

                h1 {
                    color: var(--ink-color);
                    font-weight: 700;
                    width: 115%;
                    // line-height: 56px;
                    font-size: 2rem;
                }

                p {
                    margin-top: 24px;
                    width: 100%;
                    color: var(--dark-white);
                    // line-height: 24px;
                }

                .platforms {
                    width: 115%;
                    overflow: hidden;
                    display: flex;
                    justify-content: space-between;
                    margin-top: 50px;
                    padding: 0 20px;
                    img {
                        width: 130px;
                    }
                }
            }

            .left {
                text-align: center !important;
            }

            .right {
                width: 40%;
                display: none;

                img {
                    position: absolute;
                    right: 10%;
                    margin-top: -100px;
                }
            }
        }

        .mijozlarNimaDeydi {
            display: block;
            margin-top: 200px;

            .top {
                p {
                    color: var(--green);
                    text-align: center;
                    font-size: 1rem;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 44px;
                }

                h1 {
                    color: var(--ink-color);
                    text-align: center;
                    font-size: 2rem;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 56px;
                }
            }

            .bottom {
                display: flex;
                justify-content: space-between;
                height: 700px;
                margin-top: 60px;
                flex-direction: column;
                overflow: hidden;

                .qt {
                    width: 100%;
                    height: 40%;
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    // justify-content: space-around;

                    p {
                        margin-top: 16px;
                        color: var(--ink-color);
                        text-align: center;
                        font-size: 1rem;
                        font-style: normal;
                        font-weight: 500;
                        // line-height: 32px;
                    }

                    .profile {
                        margin-top: 24px;

                        p {
                            color: var(--dark-white);
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 600;
                            // margin: 8px 0 12px 0;
                        }
                    }
                }
            }
        }

        .hamkorlar {
            display: block;

            .top {
                p {
                    font-size: 1rem;
                }

                h1 {
                    font-size: 2.5rem;
                }
            }

            .slide-bottom {
                display: flex;
                width: 114%;
                overflow: hidden;
                margin-left: -7%;

                .bottom {
                    display: flex;
                    align-items: center;
                    height: 130px;

                    .logo {
                        width: 275px;
                        height: 110;
                        margin-left: 45.5px;
                    }

                    .log1 {
                        animation: log1 14s linear infinite;

                        @keyframes log1 {
                            0% {
                                margin-left: 46px;
                            }

                            10% {
                                margin-left: 46px;
                            }

                            90% {
                                margin-left: -167.5%;
                            }

                            100% {
                                margin-left: -167.5%
                            }
                        }
                    }
                }
            }
        }
    }

    footer {
        width: 100%;
        padding: 79px 0;
        display: flex;

        .foot-container {
            padding: 48px 0;

            h2 {
                font-size: 1rem;
            }

            h1 {
                font-size: 2rem;
            }

            p {
                font-size: 12px;
            }
        }
    }
    .chat{
        right: 10px;
        bottom: 10px;
    }

    .chat-active, .chat-unactive{
        width: 350px;
        right: 12px;
        padding: 32px 26px 20px 26px;
        .bottom{
            form{
                .text{
                    width: 235px;
                    height: 50px;
                    padding: 15px;
                }
                button{
                    width: 50px;
                    height: 50px;
                }
            }
        }
    }


    .contact-us,
    .login,
    .sign-up,
    .profile-edit {
        .container {
            width: 370px;
        }
    }

    .xizmatlar-2 {
        flex-direction: column;
        margin-top: 50px;
        padding: 0 25px;
        height: 100vh;
        .b1 {
            width: 100%;
            display: flex;
            margin-top: 30%;
            justify-content: center;
            align-items: center;
            height: 100%;
            // margin-top: 0;
            .menu-x {
                text-align: center;
                width: 100%;
            }
            .menu-w {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 70px;
                flex-direction: column;
                .sizuchun {
                    font-size: 1rem;
                    margin-bottom: 30px;
                }
                .siz-2 {
                    text-align: center;
                    margin-bottom: 30px;
                    font-size: 2rem;
                }
                .siz-3 {
                    text-align: center;
                    margin-bottom: 30px;
                    font-size: 12px;
                }
                .siz-btn {
                    transform: translateY(250px);
                }
            }
        }
        .b2 {
            display: flex;
            width: 100%;
            // height: 100vh;
            justify-content: center;
            transform: translateY(-80px);
            align-items: center;
            .video-youtube {
                width: 350px;
                height: 196px;
            }
        }
    }

    .profile{
        padding-right: 25px;
        padding-left: 25px;
        .container{
            .top{
                .right{
                    .edit{
                        width: 33px;
                        height: 33px;
                        background-size: auto;
                    }
                }
            }
            .bottom{
                flex-direction: column;
                .left{
                    width: 100%;
                    .img{
                        width: 100px;
                        height: 100px;
                    }
                }
                .right{
                    align-items: start;
                    gap: 35px;
                }
            }
        }
    }
}